.container{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 26vh;
   color: var(--like-btn-color);
}
.container > svg{
   margin-right: 5px;
   animation: spin 1.5s linear infinite;
}

@keyframes spin{
   to{
      transform: rotate(360deg);
   }
}