.nav{
   padding: 3px 4vw;
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   background-color: white;
   align-items: center;
   box-shadow: 0 2px 5px 0 rgba(211, 211, 211, 0.9), 0 2px 12px 0 rgba(211, 211, 211, 0.7);
   z-index: 2;
}
.logo{
   flex-grow: 1;
   text-align: start;
   margin-left: 2vw;
   font-size: 2.5em;
   font-family: 'Lobster', 'cursive';
   margin: 2px 0 0 4vw;
   font-size: 2.8em;
   color: var(--logo-pink);
}
.nav > a{
   margin-right: 7vw;
   font-size: 1.1em;
   color: var(--link-color);
}
.nav > a > img{
   margin: 0 4px -3px;
   width: 20px;
}
.nav > span{
   margin-right: 14vw;
}
.nav > span > svg{
   margin: 0 3px -3px;
   /* margin-bottom: -3px; */
}